{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
<style>

</style>

<div class="container">

        <div class="card-header">
            <h1 class="text-center mb-4 mt-4">Login form</h1>
        </div>
        <form method="post" class="mt-5 mb-5" style="justify-content: center; display: flex; margin: auto;">
            {% csrf_token %}
            <div class="form-group" style="width: 50%;">
                <label for="full_name">Nom complet:</label>
                <input class="form-control mb-3" type="text" name="full_name" id="full_name" />

                <label for="email">Email:</label>
                <input class="form-control mb-3" type="email" name="email" id="email" />

                <label for="subject">Sujet:</label>
                <input class="form-control mb-3" type="text" name="subject" id="subject" />

                <label for="message">Message:</label>
                <textarea class="form-control mb-3" name="message" id="message" cols="30" rows="10"></textarea>

                <label for="cc_myself">Envoyer une copie à moi-même</label>
                <input type="checkbox" name="cc_myself" id="cc_myself" />

                <input class="btn btn-success" type="submit" value="Submit">
            </div>
        </form>
</div>

{% endblock %}