{% extends 'shop/base.html' %}
{% load static %}
{% block content %}
    <style>

        .container-text > img:nth-child(1) {
            width: 33%;
            margin: auto;
        }

        .titre-detail {
            margin-bottom: 0 !important;
        }

        .text-warning {
            /* margin: 50px auto; */
            margin: 0 auto;
        }

        .img-detail {
            width: 100%;
            height: 100%;
        }

        .logo-detail {
            width: 20%;
            margin: auto;
            justify-content: center;
            display: flex;
        }

        @media screen and (min-width: 350px) and (max-width: 680px) {
            .logo-detail {
                width: 50% !important;
                margin: auto;
                justify-content: center;
                display: flex;
            }
        }
    </style>

    <div class="product_details_box bg-gradient">

        <h1 class="text-center titre-detail pt-4 mb-5">
            Bienvenue dans l'univers de :
        </h1>

        <img class="logo-detail" src="{{ product.fabriquant.logo.url }}" alt="">
    </div>
    <!-- separateur -->
    <div class="separateur border border-1" style="margin-top: 20px;">
    </div>

    <div class="details_box">

        <div class="col-md-6 container-img" style="display: flex; justify-content: center;">
            <div class="box-img">
                <img src="{{ product.image.url }}" class="img-detail" alt="">
            </div>
            <!--
                <img class="image" src="https://www.apple.com/v/macbook-pro-13/m/images/overview/retina_hero_screen__gddr9b8m4kuq_large.jpg" alt="">
            -->
        </div>
        <div class="container-text col-md-6 text-center justify-content-center flex-column fs-2" style="display: flex;">
            <div class="text-warning display-3">
                {{ product.fabriquant.name }}
            </div>

            <div class="text-warning display-3">
                {{ product.name }}
            </div>

            <div class="product-description">
                {{ product.description }}
            </div>

            <div class="text-danger prix">
                Prix : {{ price_ttc }}€ <small class="text-muted">TTC</small>
            </div>

            <div class="box-btn">
                {% if user.is_authenticated %}
                    <div class="btn-left-index">
                        <a class="btn btn-success" href="{% url 'add_to_cart' product.slug %}">
                            Ajouter au panier
                        </a>
                    </div>


                    <div class="btn-right-index">
                        <a href="{% url 'home' %}" class="btn btn-primary">
                            Retour à l'accueil
                        </a>
                    </div>
                {% else %}
                    <div class="btn-right-index">
                        <a class="text text-warning fs-2" style="font-size: 0.7em !important;" href="{% url 'login' %}">
                            Connectez-vous pour ajouter au panier
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}