{% extends "shop/base.html" %}

{% block content %}
    <style>

        .btn-index {
            width: 90%;
        }

        .qty-red {
            color: rgba(255, 0, 0, 0.63);
        }

    </style>
    <!-- Search Bar -->
    {% include 'shop/search-bar.html' %}


    <div class="box-product">

        {% for product in page_obj %}
            <div class="content-box-product">
                <div class="card">
                    <div id="aa{{ product.id }}" class="card-title">
                        <p class="radius-10 text-center fs-5 fst-italic text-info bg-gradient"> {{ product.marque_produit }}</p>
                        <h1 class="text-center product-title radius-10 text-light fw-semibold">{{ product.name }}</h1>
                    </div>

                    <img src="{{ product.image.url }}" alt="" class="card-ing-top" style="width: 66%;margin: auto;">

                    <div class="card-body"
                         style="  width: 100% !important; display: flex; margin: auto 0; flex-direction: column;">

                        <div id="price price{{ product.id }}"
                             class="card-text mb-5 fw-bold fs-3 text-center text-danger">
                            {{ product.ttc_price|floatformat:2 }} €
                        </div>

                    {% if product.stock >= 5 %}
                        <p class="card-text text-center text-muted">
                            Stock :
                            <strong class="text text-success">{{ product.stock }}</strong>
                        </p>

                    {% elif product.stock >= 3 and product.stock < 5 %}
                        <p class="card-text text-center text-muted">
                            Stock :
                            <strong class="text text-warning">{{ product.stock }}</strong>
                        </p>

                    {% else  %}
                        <p class="card-text text-center text-muted">
                            Stock :
                            <strong class="text qty-red">{{ product.stock }}</strong>
                        </p>
                    {% endif %}

                        <div class="box-btn">

                            <div class="btn-left-index">
                                <a href="{% url 'detail' product.slug %}" class="btn btn-index btn-info">Détails</a>
                                <a href="{% url 'detail-test' product.slug %}" class="btn btn-index btn-primary">Détails test</a>
                            </div>

                            {% if user.is_authenticated %}
                                <div class="btn-right-index">
                                    <a href="{% url 'add_to_cart' product.slug %}" class="btn btn-index btn-success">Acheter</a>
                                </div>
                            {% else %}
                                <div class="btn-right-index">
                                    <a href="{% url 'login' %}" class="btn btn-index btn-warning">Connectez vous !</a>
                                </div>
                            {% endif %}

                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}
    </div>

    <!-- include pagination.html -->
    {% include 'shop/pagination.html' %}

{% endblock %}